#input-div {
  /* border: 1px solid rgb(200, 200, 200); */
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.5em;
}

#input-div h1 {
  text-align: center;
}

#results_table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.5em;
}

#generateButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.col_attr {
  width: 200px;
}

.col_val {
  width: 500px;
}



#input-div button {
  background-color: lightskyblue;
  border-radius: 25px;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
  height: 200px;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.mat-spinner-div {
  margin-top: 10px;
  height: 35px;
}

.spinner-border {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* border: 1px solid black; */
}
